---
import IconChevronsLeft from '~/icons/chevrons-left.svg'
import IconChevronsRight from '~/icons/chevrons-right.svg'
import { translate, type Lang } from '~/i18n/config'

interface Props {
  prevLink?: string
  prevText?: string
  nextLink?: string
  nextText?: string
  lang: Lang
}

const { prevLink, prevText, nextLink, nextText, lang } = Astro.props
const defaultPrev = translate(lang, 'pagination.previous')
const defaultNext = translate(lang, 'pagination.next')
const prevAria = translate(lang, 'paginationAria.previous')
const nextAria = translate(lang, 'paginationAria.next')
---

<div class="my-5 flex flex-row flex-wrap gap-3 justify-center">
  {
    prevLink && (
      <a
        href={prevLink}
        aria-label={prevAria}
        class="button flex-row items-center justify-center w-full !pr-3.5 sm:w-min"
      >
        <IconChevronsLeft class="mr-2 text-xl size-5" />
        {prevText || defaultPrev}
      </a>
    )
  }
  {
    nextLink && (
      <a
        href={nextLink}
        aria-label={nextAria}
        class:list={[
          'button flex-row items-center justify-center w-full !pl-3.5 sm:w-min',
          prevLink && 'ml-auto',
        ]}
      >
        {nextText || defaultNext}
        <IconChevronsRight class="ml-2 text-xl size-5" />
      </a>
    )
  }
</div>
